body {
  height: 100vh;
  margin:0;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height:6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #D7CCC8;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #795548;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9E9E9E;
}